<div class="row  " >
    <div class="col-3 h " style="background-color: rgba(255, 0, 0, 0.74); height: 0px;" >
        <div  class="col-3 mt-0 w-100" style="background-color: rgba(255, 0, 0, 0.747); " >
            <div class="list-group border-0 w-100 fs-5 text-center "  style="background-color: rgba(255, 0, 0, 0.747);" >
           <button style="background-color: rgba(255, 0, 0, 0.664); color: white; border: none; " id="d" type="button" class="list-group-item list-group-item-action mt-4" >
            <i class="fa-solid fa-user me-2" id="d"></i>  View Profile  </button>
            <hr class="text-white" >
            <button style="background-color: rgba(255, 0, 0, 0.664); color: white; border: none; " id="d" type="button" class="list-group-item list-group-item-action mt-4"
             > <i class="fa-solid fa-sack-dollar  " id="d"></i> Balance Check</button>
            <hr class="text-white" >
            <button style="background-color: rgba(255, 0, 0, 0.664); color: white; border: none; " id="d" type="button" class="list-group-item list-group-item-action mt-4" >
                <i class="fa-solid fa-money-bill-transfer" id="d"></i>   Money Transfer</button>
            <hr class="text-white" >
            <button style="background-color: rgba(255, 0, 0, 0.664); color: white; border: none; " id="d" type="button" class="list-group-item list-group-item-action mt-4" >
                <i class="fa-sharp fa-regular fa-file-invoice" id="d"></i>  Account Statement </button>
            <hr class="text-white" >
            <button style="background-color: rgba(255, 0, 0, 0.664); color: white; border: none; " id="d" type="button" class="list-group-item list-group-item-action mt-4" >
                <i class="fa-solid fa-right-from-bracket" id="d"></i> Log Out </button>
                 <hr class="text-white" >
            
            <button style="background-color: rgba(255, 0, 0, 0.664); color: white; border: none; "  id="d"type="button" class="list-group-item list-group-item-action mt-4" >
                <i class="fa-solid fa-trash" id="d"></i> Delete Account </button>
            <hr class="text-white" >
        </div>

        </div>
        
    
    
    
    
    
    </div>




</div>
<div class="col-9 mt-5 text-center p-5 w-50%" style="background-color: aliceblue; margin-left: 400px; margin-top:200px; height: 696px;" >
    <h1 style="color: rgba(255, 0, 0, 0.527); margin-top: 3px;" class="mt-3 mb-5" > Enjoy Net Banking  With  <span class="text-danger" >SIB</span> </h1>
    <p  class="text-start  w-50 container" > 'Netbanking is the Internet Banking Service of South Indian Bank, 
        which allows our customers to avail the bank’s services through internet. It allows conducting Banking Operations from House, Office or even during travel. 
        'SIBerNet' service is available 24 hours & 365 days a year. 
        </p>
    <img id="d" class="w-75%  p-5" style="margin-top: -62px;" src="https://i.postimg.cc/YSZ8bRwn/download.jpg" alt="">

</div>