<div class="row  " >
    <div class="col-3  text-start" > </div>

</div>
<div class="col-9 mt-3 text-center p-5 w-50%" style="background-color: aliceblue; margin-left: 400px; margin-top:2px; height: 696px;" >
    <h1 style="color: rgba(255, 0, 0, 0.527);" class="mt-3 mb-5" > Enjoy Net Banking  With  <span class="text-danger" >SIB</span> </h1>
    <p  class="text-start  w-75 container" > 'Netbanking is the Internet Banking Service of South Indian Bank, which allows our customers to avail the bank’s services through internet. It allows conducting Banking Operations from House, Office or even during travel. 'SIBerNet' service is available 24 hours & 365 days a year. It helps customers access their account from anywhere in the world using Internet. Customers can use SIBerNet to transfer funds from his/her account to accounts within South Indian bank and to other bank accounts.It can also be used for bill payments, insurance payments, credit card payments, mutual fund payments, e-commerce etc. Complete details of accounts (SB, Deposit, Loan, etc) can be obtained through this facility.</p>
    <img id="d" class="w-75%  p-5" style="margin-top: -62px;" src="https://i.postimg.cc/YSZ8bRwn/download.jpg" alt="">

</div>