




<div class="height:50px">
    <div class=" text-center row" >
        <div  class=" col-6 mb-5 " > 

            <form id="d" style="background-color:rgba(255, 0, 0, 0.747); margin-top: 20px; border-radius: 20px;"    action="
            "  class=" mb-2 p-3 container w-50 h-100px text-center border" > 
            <h1 class="text-center p-5 " style="color:white" > Sign Up</h1>
            <div class="p-2 mt-2 " >
                <input [(ngModel)]="acno" id="u1" type="text" name="accno"style="border: none;" class="form-control mt-2 p-2 " placeholder="enter Account no"  >

            </div >

            <div class="p-2 mt-2 " >
                <input [(ngModel)]="uname" id="u2" type="text" name="unamee" style="border: none;" class="form-control mt-2 p-2 " placeholder="username"  >

            </div >

            <div class="p-2 mt-2" >
                <input  [(ngModel)]="psw" type="password" name="password" id="p1" class="form-control mt-2 p-2  " placeholder=" enter password"  >

            </div>
            <div class="p-2 mt-2" >
                <input [(ngModel)]="cpsw" type="password" name="cpassword" id="p2" class="form-control mt-2 p-2  " placeholder=" confirm password"  >

            </div>
<button (click)="signup()"  type="submit" class="btn btn-outline-light mt-4 p-2" >Sign Up</button>


        </form>
           


        </div>

     <div class="col-6  bdy mt-5 p-5 " id="d"   >
        <img   style="height:200px; width:50%;" src="https://i.postimg.cc/sDZ1720Y/images-2.jpg" alt="">

     </div>   
    </div>
</div>


